body {
  font-family: "Audiowide", sans-serif;
}

.aboutUs {
  background: #777777;
}

.ourTeam,
.card-text,
.btn {
  color: #777777;
}

.card:hover,
.figure:hover {
  opacity: 0.8;
}

.btn {background-color: #222222;}